* {margin: 0; padding: 0;}

@font-face {
	font-family: "Sketchbook";
    src: url("../fonts/Sketchbook.otf");
}

body{
    background-color:black;
    font-family:"Tahoma";
}

canvas {
    width:100%;
    height: fit-content;
    z-index:0;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    position:fixed;
}

#banner {			
    top:0;
    left:0;
    height: 150px;
    width:100%;
    background-image: url("../images/topstars1.png");
    background-repeat: repeat-x repeat-y;
    background-position: left top;
    position: absolute;
    z-index:2;
    box-shadow: 2px 2px 5px black, 0px 2px 5px black;
    animation: appearBanner 0.3s ease-out;
}

@keyframes appearBanner{
    from{
        top:-150px;
    }
    to{
        top:0px;
    }
}

#header {			
    color:black;
	line-height:50px;
	margin-top: 60px;
	text-align:center;
	font-size:50px;
    z-index:3;
    position:relative;
    font-family:"Sketchbook";
}

#content{
    left:10%;
    top:0px;
    background-color:white;
    width:70%;
    height: fit-content;
    border-radius: 0px 0px 50px 30px;
    position:absolute;
    z-index:1;
    padding-bottom:10px;
    
    text-align: center;
    font-size: 1em;
	color:black;
    padding-left:5%;
    padding-right:5%;
    padding-top:155px;
	background-image:url("../images/bottomstars3.png");
	background-position: left bottom;
	background-repeat: repeat-x;
}


#buttons{
    position:fixed;
    z-index:4;
    top:0px;
}

/*HOME BUTTON*/
#homeButton{
    display:block;
    top:125px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../images/buttons/homeButton.png");
    background-repeat: no-repeat;
    position:absolute;
    animation: rotateButton 0.5s;
    transition: height 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
    -webkit-transition: border-radius 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
}

@keyframes rotateButton{
    from {
     transform: rotate(-90deg); 
     width:20px;
     height:20px;
     border-radius:50%;
    }
    to {
       transform: rotate(0deg);
    }
}

#homeButton:hover{
    border-radius:40%;
    width:150px;
    background-image: unset;
    background-color: #4c91c7;
    background-image:url("../images/buttons/homeButton.png");
}
#homeButton:hover:after{
    color:white;
    padding-top:25px;
    padding-left:55px;
    content: "HOME";
    font-size: 2em;
    font-family:"Sketchbook";
}

/*ART BUTTON*/
#artButton{
    display:block;
    top:180px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../images/buttons/penButton.png");
    background-repeat: no-repeat;
    position:absolute;
    animation: rotateButton 0.5s;
    transition: height 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
    -webkit-transition: border-radius 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
}

#artButton:hover{
    border-radius:40%;
    width:150px;
    background-image: unset;
    background-color: #4c91c7;
    background-image:url("../images/buttons/penButton.png");
}
#artButton:hover:after{
    color:white;
    padding-top:25px;
    padding-left:55px;
    content: "ART";
    font-size: 2em;
    font-family:"Sketchbook";
}
/*GAMES BUTTON*/
#gamesButton{
    display:block;
    top:235px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../images/buttons/gamesButton.png");
    background-repeat: no-repeat;
    position:absolute;
    animation: rotateButton 0.5s;
    transition: height 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
    -webkit-transition: border-radius 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
}
#gamesButton:hover{
    border-radius:40%;
    width:150px;
    background-image: unset;
    background-color: #4c91c7;
    background-image:url("../images/buttons/gamesButton.png");
}
#gamesButton:hover:after{
    color:white;
    padding-top:25px;
    padding-left:55px;
    content: "GAMES";
    font-size: 2em;
    font-family:"Sketchbook";
}
/*CODE BUTTON*/
#codeButton{
    display:block;
    top:290px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../images/buttons/codeButton.png");
    background-repeat: no-repeat;
    position:absolute;
    animation: rotateButton 0.5s;
    transition: height 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
    -webkit-transition: border-radius 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
}
#codeButton:hover{
    border-radius:40%;
    width:150px;
    background-image: unset;
    background-color: #4c91c7;
    background-image:url("../images/buttons/codeButton.png");
}
#codeButton:hover:after{
    color:white;
    padding-top:25px;
    padding-left:55px;
    content: "CODE";
    font-size: 2em;
    font-family:"Sketchbook";
}
/*MUSIC BUTTON*/
#musicButton{
    display:block;
    top:345px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../images/buttons/musicButton.png");
    background-repeat: no-repeat;
    position:absolute;
    animation: rotateButton 0.5s;
    transition: height 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
    -webkit-transition: border-radius 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
}
#musicButton:hover{
    border-radius:40%;
    width:150px;
    background-image: unset;
    background-color: #4c91c7;
    background-image:url("../images/buttons/musicButton.png");
}
#musicButton:hover:after{
    color:white;
    padding-top:25px;
    padding-left:55px;
    content: "MUSIC";
    font-size: 2em;
    font-family:"Sketchbook";
}
/*MAIL BUTTON*/
#mailButton{
    display:block;
    top:400px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../images/buttons/mailButton.png");
    background-repeat: no-repeat;
    position:absolute;
    animation: rotateButton 0.5s;
    transition: height 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
    -webkit-transition: border-radius 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
}
#mailButton:hover{
    border-radius:40%;
    width:150px;
    background-image: unset;
    background-color: #4c91c7;
    background-image:url("../images/buttons/mailButton.png");
}
#mailButton:hover:after{
    color:white;
    padding-top:25px;
    padding-left:55px;
    content: "MAIL";
    font-size: 2em;
    font-family:"Sketchbook";
}
/*ME BUTTON*/
#meButton{
    display:block;
    top:455px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url("../images/buttons/meButton.png");
    background-repeat: no-repeat;
    position:absolute;
    animation: rotateButton 0.5s;
    transition: height 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
    -webkit-transition: border-radius 0.2s ease-out, width 0.2s ease-out, background-image 0.2s;
}
#meButton:hover{
    border-radius:40%;
    width:150px;
    background-image: unset;
    background-color: #4c91c7;
    background-image:url("../images/buttons/meButton.png");
}
#meButton:hover:after{
    color:white;
    padding-top:25px;
    padding-left:55px;
    content: "ME";
    font-size: 2em;
    font-family:"Sketchbook";
}